<!--<div class="reveal">-->
<!--  <div class="slides">-->
<!--    <section>-->
<!--      <h2>header</h2>-->
<!--    </section>-->
<!--    <section data-state="make-it-pop">Slide2</section>-->
<!--    <section data-markdown>-->
<!--  <textarea>-->
<!--    ## This is Hello world-->

<!--    -&#45;&#45;-->
<!--    ## slide 2-->
<!--    -&#45;&#45;-->

<!--    ## Slide 3-->
<!--  </textarea>-->
<!--    </section>-->
<!--  </div>-->
<!--</div>-->
<div style="width:1000px;height:500px">
  <div class="reveal">
    <div class="slides">
      <section data-markdown>
  <textarea data-template>
    ## Slide 1
    A paragraph with some text and a [link](http://hakim.se).
    ---
    ## Slide 2
    ---
    ## Slide 3
  </textarea>
      </section>
    </div>
  </div>
</div>
