<div class="p-grid">
  <div class="p-col-6">
    <p-card>
      <p-header>
        <p-fileUpload
          name="demo[]"
          accept=".md"
          maxFileSize="1000000"
          chooseLabel="上传markdown文件"
          [auto]="true"
          [customUpload]="true"
          (uploadHandler)="onUpload($event)">
        </p-fileUpload>
      </p-header>
      <form novalidate #form="ngForm">
        <md-editor
          name="Markdown"
          [(ngModel)]="markdown"
          [height]="'750px'">
        </md-editor>
      </form>
      <p-footer>
        <button pButton type="button" label="生成slide" icon="pi pi-check" style="margin-right: .25em"
                (click)="save()"></button>
      </p-footer>
    </p-card>
  </div>
  <div class="p-col-6">
    <p-card header="ppt预览">
      <div style="width:100%;height:800px" #handler></div>
    </p-card>
    <p-footer>
      <p-button type="button" class="mr-2 mt-2" (click)="toFull()" icon="pi pi-th-large" label="全屏"></p-button>
      <p-button type="button" class="mr-2 mt-2" (click)="exporting = true" icon="pi pi-th-large" label="导出"></p-button>
    </p-footer>
  </div>
</div>

<p-dialog header="导出slide" [(visible)]="exporting">
  <div class="card">
    <h4 class="text-center mt-2">导出: (点击执行相应操作)</h4>
    <p-steps [model]="exportItems" [(activeIndex)]="activeIndex" [readonly]="false"></p-steps>
    <a href="https://github.com/hakimel/reveal.js/archive/master.zip" [hidden]="true" #downloadZip></a>
  </div>
</p-dialog>
